@import './utils/fonts';
@import './utils/vars';
@import './utils/reset';
@import './utils/container';
@import './utils/hidden';
@import './utils/subcsribe';
@import './utils/section';


@import './components/component/logo';
@import './components/component/header';
@import './components/component/nav';
@import './components/component/contact';
@import './components/component/footer.scss';
@import './components/component/soc';
@import './components/component/hero';
@import './components/component/btn';
@import './components/component/feature';
@import './components/component/work';
@import './components/component/team';
@import './components/component/client';
@import './components/component/modal';
@import './components/component/portfolio';
@import './components/component/project';
