.section {
    padding: 94px 0;

    &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
            margin-bottom: 50px;
            text-align: center;
    
    
        }
}



.work.section {
    padding-top: 0;
}