.footer {
    background-color: var(--primary-bg-grey-color);
    padding-top: 60px;
    padding-bottom: 60px;



}




// .adress-footer {
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--primary-bg-white-color);
//     margin-bottom: 10px;
// }



// .footer-soc-cont {

//     display: block;
//     width: 206px;
// }